@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ===COLOR==== */
  --color-green: #1ec28b;
  --color-lightgray: #efebeb;
  --color-orange: #ff8345;
  --color-white: #fff;
  --color-dark: #2b2945;
  --color-gray: #a1a3a4;
  --color-yellow: #fcce3a;
  /* ==== TRANSITION ==== */
  --transition: 0.3s ease;

  /* ==== CONTAINER ===== */
  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 90%;

  /* ==== BORDER ==== */
  --bor-5: 5px;
  --bor-10: 10px;
  --bor-round: 50%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-dark);
  transition: var(--transition);
}
a:hover {
  background: var(--color-green);
  border-radius: var(--bor-5);
  color: var(--color-white);
}
.container {
  width: var(--container-lg);
  margin: 0 auto;
}
/* ========== DASHBOARD ========== */

.dashboard {
  width: 300px;
  height: 100vh;

  background: var(--color-white);

  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;

  color: var(--color-dark);

  display: block;
}
.container.dashboard-wrapper {
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* CLOSE MENU */
.dashboard-close-menu {
  display: none;
}
/* LOGO */
.dashboard-logo {
  position: relative;
}

.dashboard-logo i {
  color: var(--color-green);
  font-size: 18px;
  position: absolute;
  top: 0;
  right: -10px;
}
/* MENU LIST AND LOGOUT */
.dashboard-menuList {
  display: flex;
  flex-direction: column;
}
.dashboard-menuList a,
.dashboard-logout a {
  padding: 10px;
  color: var(--color-gray);
}
.dashboard-menuList a:hover,
.dashboard-logout a:hover {
  color: var(--color-white);
}
.dashboard-menuList a i,
.dashboard-logout a i {
  margin-right: 10px;
}
.dashboard-menuList .active {
  background: var(--color-green);
  color: var(--color-white);
  border-radius: var(--bor-5);
}
/* BANNER */
.dashboard-banner .banner-wrapper {
  background: url("./img/dashboard-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: var(--bor-10);
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-banner .banner-wrapper h2 span {
  color: var(--color-orange);
}
.dashboard-banner .banner-wrapper div {
  background: var(--color-orange);
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--bor-round);

  color: var(--color-white);

  cursor: pointer;
}

/* ===================================== */
/* ===================================== */
/* ========== MAIN CONTENT ========== */
.main-content {
  margin-left: 300px;

  min-height: 100vh;
  background: var(--color-lightgray);
  padding: 20px 0;
}
.container.main-wrapper {
  height: 100%;
}
/* ================ NAVBAR ==============*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* nav left */
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left-menu {
  display: none;
}
.nav-left div {
  margin-right: 20px;
}
.nav-left h3 {
  font-size: 30px;
}

.nav-left h3 i {
  color: var(--color-yellow);
  animation: waving ease 1s infinite;
}
@keyframes waving {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(30deg);
  }
}
/* nav right */
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right-search .search-wrapper {
  background: var(--color-white);

  display: flex;
  align-items: center;

  padding: 5px;
  border-radius: var(--bor-10);
  margin-right: 20px;
}
.nav-right-search .search-wrapper:focus-within {
  outline: 2px solid var(--color-dark);
}
.nav-right-search .search-wrapper i {
  color: var(--color-gray);
  cursor: pointer;
}
.nav-right-search .search-wrapper input {
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}
.nav-right-search .search-wrapper input::placeholder {
  font-size: 14px;
}

.nav-right-icon {
  width: 45px;
  height: 45px;

  border-radius: var(--bor-round);
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-white);

  position: relative;

  cursor: pointer;
}
.nav-right-icon div {
  background: orange;

  width: 15px;
  height: 15px;

  border-radius: var(--bor-round);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: var(--color-white);

  position: absolute;
  top: 8px;
  right: 10px;
}
/* ========== CONTENT TOP (CARD) ========== */
.content-top {
  margin: 20px 0;
}
.content-top .content-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.content-top .content-top-wrapper > * {
  flex: 1;
}
.content-top .content-top-wrapper .card {
  position: relative;
}
.content-top .content-top-wrapper .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--bor-10);
}
.content-top .content-top-wrapper .card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;

  color: var(--color-white);
}
.content-top .content-top-wrapper .card .card-content .card-title {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.content-top
  .content-top-wrapper
  .card
  .card-content
  .card-title
  p:first-child {
  margin-right: 20px;
}
/* ========== CONTENT BOTTOM ========== */
.content-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 500px;
}
.content-bottom-left {
  flex: 2;
  background: var(--color-white);
  border-radius: var(--bor-10);
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-bottom-left .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.content-bottom-left .top .filter button {
  background: transparent;
  border: 1px solid var(--color-gray);
  padding: 10px;
  color: var(--color-gray);
  border-radius: var(--bor-10);
}
.content-bottom-left .bottom .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-bottom-left .bottom .item:not(:last-child) {
  margin-bottom: 20px;
}
.content-bottom-left .bottom .item > * {
  flex: 1;
}
.content-bottom-left .bottom .item .item-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--bor-10);
}

.content-bottom-left .bottom .item .item-price {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: end;
}
.content-bottom-left .bottom .item .item-price span {
  font-size: 14px;
  color: var(--color-gray);
  font-weight: normal;
}
.content-bottom-right {
  padding: 20px;
  height: 100%;

  background: var(--color-dark);
  border-radius: var(--bor-10);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  color: var(--color-white);
  text-align: center;
}
.content-bottom-right img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--bor-round);
  display: block;
  margin-bottom: 40px;
}
.content-bottom-right .item-desc {
  margin-bottom: 40px;
}
.content-bottom-right .item-desc > * {
  margin-bottom: 20px;
}
.content-bottom-right button {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  background: var(--color-green);
  border-radius: var(--bor-5);
  color: var(--color-white);

  cursor: pointer;
}
/* ===================================== */
/* ===================================== */

/* =========== RESPONSIVE ============== */
/* tablets */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }

  /* ===== DASHBOARD ====== */
  .dashboard {
    width: 200px;
  }
  .dashboard-close-menu {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 18px;
    cursor: pointer;
  }

  /* ============= NAVBAR ========== */
  .nav-left-menu {
    display: block;
    cursor: pointer;
  }
  /* ========== MAIN CONTENT ========== */
  .main-content {
    margin-left: 200px;
  }
  .main-content.toggle{
      margin-left: 0;
  }
}

/* mobile */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }
}
